<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UinavigationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2306CF461EC3001600C4F8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2306CF5F1EC3001600C4F8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2306CF6A1EC3001600C4F8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
